@model IEnumerable<VehicleLeasingApplication.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>All Vehicles</h1>

<p>
    <a asp-action="Create">Add New Vehicle</a>
</p>

<form asp-action="Index" method="get" class="mb-3 row g-3 align-items-end">
    <div class="col-md-3">
        <label>Search</label>
        <input type="text" name="searchString" value="@Context.Request.Query["searchString"]" class="form-control" placeholder="Make, Model or Reg" />
    </div>
    <div class="col-md-2">
        <label>Supplier</label>
        <select name="supplierId" class="form-control" asp-items="ViewBag.Suppliers">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-2">
        <label>Branch</label>
        <select name="branchId" class="form-control" asp-items="ViewBag.Branches">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-2">
        <label>Client</label>
        <select name="clientId" class="form-control" asp-items="ViewBag.Clients">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-2">
        <label>Driver</label>
        <select name="driverId" class="form-control" asp-items="ViewBag.Drivers">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
